- requires_points = (perk.skill_points != 0)
- requires_perks  = !perk.prerequisite_ids.empty?
%li{id: "perk#{perk.id}",
:"data-points"     => (requires_points ? perk.skill_points : nil),
:"data-perks"      => (requires_perks ? "[#{perk.prerequisite_ids_text}]" : nil),
title: perk.description}
  - if perk.ranks == 1
    %input{type: :checkbox, disabled: requires_points || requires_perks, id: "option#{perk.id}"}
  - else
    %select{disabled: requires_points || requires_perks, id: "option#{perk.id}"}
      - perk.ranks.times do |t|
        %option= t
  %label{for: "option#{perk.id}"}
    = perk.short_name
