- unless @skill.races.empty?
  %ul
    - unless @skill.major_races.empty?
      %li
        %strong Major Races:
        = render partial: "layouts/list_with_links", locals: { objects: @skill.major_races }
    - unless @skill.minor_races.empty?
      %li
        %strong Minor Races:
        = render partial: "layouts/list_with_links", locals: { objects: @skill.minor_races }
%table
  %thead
    %tr
      %th
      %th.underline{colspan: 2} Requirements
      %th{colspan: 2}
    %tr
      %th Perk
      %th Skill Points
      %th Perks
      %th Ranks
      %th Description
  %tbody
    - @skill.perks.each do |perk|
      %tr
        %td= link_to perk.short_name, perk
        %td= perk.skill_points != 0 ? perk.skill_points : nil
        %td
          = render partial: "layouts/list_with_links", locals: { objects: perk.prerequisites, method: :short_name, delimiter: "or" }
        %td= perk.ranks != 1 ? perk.ranks : nil
        %td= perk.description
