<!DOCTYPE html>
%html
  %head
    %title= title
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    - unless @title.nil?
      %h1= @title
    = yield
    - unless current_page?(root_path)
      = link_to "Back to main", root_path
    = render partial: "layouts/footer"
